sentry-sdk==1.5.7
setproctitle==1.2.2
setuptools==47.3.1
shortuuid==1.0.8
sip==5.0.0
six==1.15.0
smmap==5.0.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-katex==0.6.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
subprocess32==3.5.4
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2021.11.2
timm==0.5.4
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.48.2
traitlets==4.3.3
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.3
wandb==0.9.7
watchdog==2.1.6
wcwidth==0.2.5
Werkzeug==1.0.1
wheel==0.34.2
wrapt==1.12.1
yarl==1.6.3
yaspin==2.1.0
zipp==3.4.0
